<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaterMarkDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>041149BD1CD1A1590001EA34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041149D61CD1A15A0001EA34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041149E11CD1A15A0001EA34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
